

.espace {
  height: 100px;
}
.button {
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-100%, 0%);
    position: relative;
    font-weight: 400;
    border-color: #c3a758 #6b521e;
    border-style: solid;
    max-width: 450px;
    background-color: rgba(25,28,33,.8);
    color: white;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 23px 48px;
    text-transform: uppercase;
    transition: 0.5s linear;
  }

    .button:hover {
      color: #b28f57;
      background-color: rgba(25,28,33,0.7);
      transition: 0.5s linear;
  }


.fadein {
  opacity: 0;
    text-align: justify;
}
.endchoice {
  text-align: center;

}

.button {

}

.chapter:first-letter {
    font-weight: 400;
    border-bottom: 3px solid #937341;
    float: left;
    font-size: 44px;
    line-height: 50px;
    margin: -2px 8px 0;
    padding: 0 8px 6px 10px;
}

.synopsis {
  text-align: center;
}

p {
    color: black;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 21px;
    letter-spacing: -.004em;
    line-height: 1.58;
    margin: 0 auto;
    max-width: 900px;
    padding: 10px 0;
    position: relative;

    z-index: 2;
}

body {
  background: #af9672;
  margin: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;

}


.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
}

.parallax-layer {
  width: 100%;
  height: 900px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
}

.aureus {
  max-width: 60%;
}


#test {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-48%,-50%);
    padding: 2rem;
    background: rgba(0,0,0,0);
    border-style: none;
}

.layer-0 {
    top: 0;
    z-index: 10;
    left: 200px;
}

.layer-1 {
    top: -100px;
    z-index: 5;
    background-size: cover;
    background-image: url('../img/fond.png');

}
.layer-2 {
    top: -90px;
    z-index: 10;
    background-size: cover;
    background-image: url('../img/jSOo9SK.png');
}
.layer-3 {
    top: -10px;
    z-index: 15;
    background-size:
    background-image: url('../img/DOZRBDj.png');
}
.layer-4 {
    top: 300px;
    background-size: cover;
    z-index: 20;
    background-image: url('../img/JbSR9JY.png');
}
.layer-5 {
    top: 150px;
    background-size: cover;
    z-index: 25;
    background-image: url('../img/Ti2mNxd.png');
}

.layer-6 {
    opacity: 0.6;
    left: -100px;
    top: -100px;
    z-index: 6;
    background-size: cover;
    background-image: url('../img/Cloud.png');
    -webkit-animation-name: cloud;
    -webkit-animation-duration: 120s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;


}




.layer-8 {
    top: 65px;
    background-size: cover;
    z-index: 15;
    background-image: url('../img/bridge.png');
}

.layer-9 {
    top: -100px;
    z-index: 4;
    background-size: cover;
    background-color: #ffe98c;
    background-image: url('../img/fond1.png');
}

.content {
  position: absolute;
  top: 1000px;
  background: -webkit-linear-gradient(#a06743, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a06743, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a06743, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a06743, white); /* Standard syntax */
  width: 100%;
  min-height: 1500px;
}
  .content h1 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}


.End1{
display: none;
}.End2{
display: none;
}
 iframe{
     margin-top: 10%;
 }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=radio]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/*input[type=checkbox]{*/
    /*width: 100%;*/
    /*padding: 12px 20px;*/
    /*margin: 8px 0;*/
    /*display: inline-block;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*box-sizing: border-box;*/
/*}*/
input[type=submit] {
    width: 100%;
    background-color: #a06743;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b07446;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.img1{
    width:70%;
    margin-left: 20%;
    margin-right: 20%;
}
div .img11{
    background-image: url("../img/architecture-1852928.jpg");
    z-index: 2;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    padding: 10% 0;
    height:70%;

    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}div .img12{
    background-image: url("../img/paris-2936287.jpg");
    z-index: 2;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    padding: 10% 0;
    height:70%;

    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}
input:checked +br+ label {
  display: inline-block;
}

/* début des radio ici */

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}

input[type=radio],
input[type=checkbox] {
	display: none;
}
label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio label:before {
	border-radius: 8px;
}
.checkbox label {
	margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
/* fin ici */

@-webkit-keyframes cloud {
  from {
    -webkit-transform: translateX(0);
  }
  to { 
    -webkit-transform: translateX(187%);
  }
  }

